<section class="container">
	<div class="account">
		<div class="row">
			<div class="col-sm-3">
				<h1>Hello, {{currentUser.email}} </h1>
			</div>
			<div class="col-sm-3 account-avatar">
				<img ng-src="{{currentUser.avatarUrl}}">
			</div>
		</div>
	<fieldset id="direct_upload">
	<legend>Upload an avatar</legend>
    <form class="form-horizontal">
        <div class="form_line">
            <label path="title">Title:</label>
            <div class="form_controls">
                <input type="text" class="form-control" placeholder="Title" ng-model="title" />
            </div>
        </div>
        <div class="form_line">
            <label>Image:</label>
            <div class="form_controls">
                <div class="btn btn-default">
                    <div href="#" ngf-select="uploadFiles($files)" title="upload" resetOnClick="true" >Upload</div>
                </div>
                
            </div>
        </div>
    </form>
    <h2>Status</h2>
    <div class="file" ng-repeat="file in files">
        <h3>{{file.name}} {{f.$error}} {{f.$errorParam}}</h3>
        <div class="status">{{file.status}}</div>
        <div class="progress-bar">
          <div class="progress" style="width: {{file.progress}}%" ng-init="progress=0"></div>
        </div>
    </div>
    <article class="alert alert-danger" ng-show="error">
    	<p ng-bind="error"></p>
  	</article>
    
</fieldset>
	
</section>
<!--
<div ng-controller="UploadController">
	<button type="file" 
        ngf-select
        accept="image/*"
        class="btn upload-btn"
        ng-model="data.files"
        ng-disabled="data.files.length">
  Browse Files
</button>

<div class="file-preview" ng-show="data.files.length">
  {{ data.files[0].name }} 
  <span class="remove-file" ng-click="data.files = []">[X Remove File]</span>
</div>

<button class="btn submit-btn" ng-click="submit(data)">Submit</button>
</div>
-->