<section class="container">
	<div class="account">
		<div class="row">
			<div class="col-sm-3">
				<h1>Hello, {{currentUser.email}} </h1>
			</div>
			<div class="col-sm-3 account-avatar">
				<img ng-src="{{currentUser.avatarUrl}}">
			</div>
		</div>
		<form class="row" action="">
			<fieldset>
				<legend>Upload an avatar</legend>
				<div class="form-group">
					<label btn btn-default btn-file>
						<input name="photo" type="file" accept="image/*" >
					</label>
				</div>
        		<div >
          			<button class="btn btn-default">Load</button>
        		</div>
			</fieldset>
		</form>
	</div>
</section>
<!--
<div ng-controller="UploadController">
	<button type="file" 
        ngf-select
        accept="image/*"
        class="btn upload-btn"
        ng-model="data.files"
        ng-disabled="data.files.length">
  Browse Files
</button>

<div class="file-preview" ng-show="data.files.length">
  {{ data.files[0].name }} 
  <span class="remove-file" ng-click="data.files = []">[X Remove File]</span>
</div>

<button class="btn submit-btn" ng-click="submit(data)">Submit</button>
</div>
-->